<div class="er-weather-card-container">

	<er-weather-card day="Monday" lowTemperature="10" highTemperature="20"></er-weather-card>

	<er-weather-card day="Tuesday" lowTemperature="9" highTemperature="16"></er-weather-card>

	<er-weather-card day="Wednesday" lowTemperature="9" highTemperature="18"></er-weather-card>

	<er-weather-card day="Thursday" lowTemperature="2" highTemperature="12"></er-weather-card>

	<er-weather-card day="Friday" lowTemperature="8" highTemperature="14"></er-weather-card>

</div>